<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>
    <h1>Django Form</h1>

    <form action="" method='POST' novalidate>
        {% csrf_token %}
        {{mf.as_p}}
        <input type="submit">
    </form>

    <h1>Render field Manually</h1>
    {% comment %} {{mf.name}}<br><br>
    {{mf.name.label}}<br><br>
    {{mf.name.label_tag}}<br><br>
    {{mf.name.id_for_label}}<br><br>
    {{mf.email}}<br><br>
    {{mf.email.label}}<br><br>
    {{mf.email.label_tag}}<br><br>
    {{mf.email.id_for_label}}<br><br> {% endcomment %}


    {% for m in mf %}
        {{m.label_tag}} {{m}} <br><br>
    {% endfor %}
</body>
</html>